In [2]:
#ques1 
li=[('sachin tendulkar' , 34357) , ('ricky ponting' , 27483) ,("jack kallis" , 25534) ,('virat kohli' , 24936)]
li.sort(key = lambda x : x[1] )
print(li)

[('virat kohli', 24936), ('jack kallis', 25534), ('ricky ponting', 27483), ('sachin tendulkar', 34357)]

In [3]:
#ques2
li1 = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : x*x , li1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#ques3
li_int = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x :str(x) , li_int))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
#ques4
from functools import reduce
list1 = list(range(1,26))
reduce(lambda x,y :x*y , list1)

15511210043330985984000000

In [16]:
#ques5
li = [2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x : x%2==0 and x%5==0 ,li))

[60, 90, 120]

In [21]:
#ques6
given = ['python' ,'php' ,'aba' , 'radar' , 'level']
list(filter(lambda x : x==x[::-1] , given))

['php', 'aba', 'radar', 'level']